
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>PRUEBA UNO</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="primary" text="Salir" ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark">

  <div id="contenido">

    <h1>Catálogo de productos</h1>

    <ion-list>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Fantastic Fresh Chair" src="https://api.lorem.space/image/shoes?w=640&h=480&r=7759" />
        </ion-avatar>
        <ion-label>Fantastic Fresh Chair</ion-label>
      </ion-item>

      <ion-item  color="dark"[routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Shoes" src="https://api.lorem.space/image/shoes?w=640&h=480&r=4169" />
        </ion-avatar>
        <ion-label>Shoes</ion-label>
      </ion-item>

      <ion-item  color="dark"[routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Andy shoes are designed to keeping in mind durability as well as trends, the most stylish range of shoes & sandals" src="https://api.lorem.space/image?w=640&h=480&r=4854" />
        </ion-avatar>
        <ion-label>Andy shoes are designed to keeping in mind durability as well as trends, the most stylish range of shoes & sandals</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Others" src="https://api.lorem.space/image?w=640&h=480&r=4088" />
        </ion-avatar>
        <ion-label>Others</ion-label>
      </ion-item>

      <ion-item  color="dark"[routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Bespoke Rubber Bacon" src="https://api.lorem.space/image/shoes?w=640&h=480&r=9008" />
        </ion-avatar>
        <ion-label>Bespoke Rubber Bacon</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Shoes" src="https://api.lorem.space/image/shoes?w=640&h=480&r=4169" />
        </ion-avatar>
        <ion-label>Shoes</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Intelligent Rubber Fish" src="https://api.lorem.space/image?w=640&h=480&r=9884" />
        </ion-avatar>
        <ion-label>Intelligent Rubber Fish</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Others" src="https://api.lorem.space/image?w=640&h=480&r=4088" />
        </ion-avatar>
        <ion-label>Others</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Fantastic Granite Salad" src="https://api.lorem.space/image/furniture?w=640&h=480&r=2905" />
        </ion-avatar>
        <ion-label>Fantastic Granite Salad</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Furniture" src="https://api.lorem.space/image/furniture?w=640&h=480&r=8056" />
        </ion-avatar>
        <ion-label>Furniture</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Bespoke Rubber Car" src="https://api.lorem.space/image/furniture?w=640&h=480&r=909" />
        </ion-avatar>
        <ion-label>Bespoke Rubber Car</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Furniture" src="https://api.lorem.space/image/furniture?w=640&h=480&r=8056" />
        </ion-avatar>
        <ion-label>Furniture</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Incredible Rubber Car" src="https://api.lorem.space/image?w=640&h=480&r=9781" />
        </ion-avatar>
        <ion-label>Incredible Rubber Car</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Others" src="https://api.lorem.space/image?w=640&h=480&r=4088" />
        </ion-avatar>
        <ion-label>Others</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Unbranded Frozen Bike" src="https://api.lorem.space/image/furniture?w=640&h=480&r=4797" />
        </ion-avatar>
        <ion-label>Unbranded Frozen Bike</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Oriental Steel Chair" src="https://api.lorem.space/image/watch?w=640&h=480&r=2366" />
        </ion-avatar>
        <ion-label>Oriental Steel Chair</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Furniture" src="https://api.lorem.space/image/furniture?w=640&h=480&r=8056" />
        </ion-avatar>
        <ion-label>Furniture</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Electronics" src="https://api.lorem.space/image/watch?w=640&h=480&r=3002" />
        </ion-avatar>
        <ion-label>Electronics</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Furniture" src="https://api.lorem.space/image/furniture?w=640&h=480&r=8056" />
        </ion-avatar>
        <ion-label>Furniture</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Electronic Steel Table" src="https://api.lorem.space/image/watch?w=640&h=480&r=8518" />
        </ion-avatar>
        <ion-label>Electronic Steel Table</ion-label>
      </ion-item>

      <ion-item  color="dark" [routerLink]="['/detalle']">
        <ion-avatar slot="start">
          <img alt="Electronics" src="https://api.lorem.space/image/watch?w=640&h=480&r=3002" />
        </ion-avatar>
        <ion-label>Electronics</ion-label>
      </ion-item>


    </ion-list>

  </div>


</ion-content>

